$xsmall: 375px;
$xs: 375px;
$small: 576px;
$sm: 576px;
$medium: 768px;
$md: 768px;
$large: 992px;
$lg: 992px;
$xlarge: 1200px;
$xl: 1200px;
$xxlarge: 1366px;
$xxl: 1366px;
$xxxlarge: 1920px;
$xxxl: 1920px;
$max: 7680px;

$breakpoints: (
    'phone': $xsmall,
    'tablet': $medium,
    'desktop': $xlarge,
    'xsmall': $xsmall,
    'xs': $xsmall,
    'small': $small,
    'sm': $small,
    'medium': $medium,
    'md': $medium,
    'large': $large,
    'lg': $large,
    'xlarge': $xlarge,
    'xl': $xlarge,
    'xxlarge': $xxlarge,
    'xxl': $xxlarge,
    'xxxlarge': $xxxlarge,
    'xxxl': $xxxlarge,
    'max': $max,
);

$primaryColor: #ba68c8 !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 30%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff !default;

$highlightBg: rgba(186, 104, 200, 0.16) !default;
$highlightTextColor: rgba(255, 255, 255, 0.87) !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
